*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#0f172a;
    color:white;
    line-height:1.6;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#111827;
    position:sticky;
    top:0;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#38bdf8;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

.hero{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    padding:40px;
}

.hero h1{
    font-size:60px;
}

.hero span{
    color:#38bdf8;
}

.hero h2{
    margin:10px 0;
    color:#cbd5e1;
}

.hero p{
    max-width:700px;
    margin:auto;
}

.buttons{
    margin-top:25px;
}

.btn{
    display:inline-block;
    padding:12px 25px;
    background:#38bdf8;
    color:white;
    text-decoration:none;
    border-radius:8px;
    margin:5px;
}

.btn-outline{
    background:transparent;
    border:2px solid #38bdf8;
}

section{
    padding:80px 8%;
}

.section-title{
    text-align:center;
    margin-bottom:40px;
    font-size:40px;
}

.about-text{
    max-width:800px;
    margin:auto;
    text-align:center;
}

.skills-grid,
.projects-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.skill-card,
.project-card{
    background:#1e293b;
    padding:25px;
    border-radius:15px;
    transition:0.3s;
}

.skill-card:hover,
.project-card:hover{
    transform:translateY(-8px);
}

.project-card a{
    color:#38bdf8;
    text-decoration:none;
}

.contact-box{
    text-align:center;
}

footer{
    text-align:center;
    padding:20px;
    background:#111827;
}

@media(max-width:768px){

    nav{
        flex-direction:column;
    }

    nav ul{
        margin-top:15px;
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero h1{
        font-size:40px;
    }

    .section-title{
        font-size:30px;
    }
}